.admin-page{

    display:flex;

    background:#f3f8fc;

    min-height:100vh;

}

.admin-content{

    margin-left:260px;

    width:100%;

    padding:40px;

}

.admin-content h1{

    font-size:40px;

    color:#1f2937;

}