.admin-sidebar {
    width: 260px;
    height: calc(100vh - 70px);
    background: #1f2937;
    color: white;
    position: fixed;
    left: 0;
    top: 70px;   /* Navbar height */
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.admin-logo{
    text-align:center;
    margin-bottom:40px;
    color:#10b981;
    font-size:28px;
}

.menu{

    margin-bottom:15px;

    border:none;
    background:transparent;
    color:white;

    font-size:18px;

    text-align:left;

    padding:14px 18px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

.menu:hover{

    background:#374151;

}

.active{

    background:#10b981;

}

.logout-btn{

    margin-top:auto;

    border:none;

    background:#ef4444;

    color:white;

    padding:14px;

    border-radius:10px;

    cursor:pointer;

    font-size:18px;
}

.logout-btn:hover{

    background:#dc2626;

}